<p>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Vincular Perfil
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-select [value]="[perfis]" [(ngModel)]="sel_perfil">
        <ion-select-option *ngFor="let perfil of perfis" value={{perfil.id}}>{{perfil.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="salvar()" color="dark">Salvar</ion-button>
    <ion-button (click)="closeModal()" color="danger">Fechar</ion-button>
  </ion-list>
</p>

